
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
}


.main {
  display: flex;
  gap: 40px;       
  align-items: flex-start;
  width: 100%;
}


.formulario {
  flex: 1;
  max-width: 500px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form input {
  padding: 10px;
  font-size: 0.9rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
}

form button {
  padding: 12px;
  border: none;
  background: #2a7ae4;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 8px;
  margin-top: 10px;
}

form button:hover {
  background: #1b5fba;
}

.lista-productos {
  flex: 1;
  padding-top: 20px;
}

.contenedor-productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  width: 100%;
}



.card-article {
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  width: 280px;
  text-align: center;
  border: solid 1px #222;
  transition: transform 0.2s ease;
}

.card-article:hover {
  transform: translateY(-5px);
}

.card-article img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-article h1 {
  font-size: 1.2rem;
  color: #222;
  margin: 6px 0;
}

.card-article h3 {
  font-size: 0.9rem;
  color: #777;
  margin: 4px 0;
}

.card-article p {
  font-size: 1.1rem;
  font-weight: bold;
  color: #2a7ae4;
  margin: 6px 0;
}


.card-article h1,
.card-article h3,
.card-article p {
  padding: 5px;
}


.card-tema {
  border: 1px solid grey;
  border-radius: 8px;
  padding: 25px;
  margin-bottom: 10px;
  background-color: #E8E4E3;
  box-shadow: 0 2px 3px;
}

.alerta-roja {
  border-left: 5px solid red;
  background-color: #F27F79;
}

.alerta-verde {
  border-left: 5px solid green;
  background-color: #b7e0a3;
}
